<div class="container-fluid mt-3">
    <h2>Forms</h2>
    <div class="d-flex justify-content-end align-items-center">
      <button routerLink="/dragdrop" class="btn btn-outline-primary">
       Create New Form
      </button>
    </div>    
     
    <!-- Forms List -->
<div class="container mt-5">
  <div class="row row1-container gy-4">
    <div
      class="col-12 col-sm-6 col-md-4 col-lg-3 box cyan"
      *ngFor="let form of formFields"
    >
      <div class="card h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h6 class="mb-0">{{ form.title }}</h6>
          <small>{{ form.createdAt | date: 'short' }}</small>
        </div>

        <div class="card-body">
          <a
            [href]="form.formLink"
            target="_blank"
            (click)="stopEvent($event)"
            class="link-style"
            title="Click here to go to form"
          >
            {{ form.formLink }}
          </a>
        </div>

        <div class="card-footer text-end">
          <button
            class="btn btn-outline-dark btn-sm"
            (click)="openModal(form)"
            title="See all details"
          >
            See Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

    
                   
      
      <!-- Bootstrap Modal -->
      <div
        class="modal fade"
        id="formDetailsModal"
        tabindex="-1"
        aria-labelledby="formDetailsModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formDetailsModalLabel">
                {{ selectedForm?.title }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <ul>
                <li *ngFor="let field of selectedForm?.additionalFields">
                  {{ field.label }} 
                    @if(field.isrequired){
                      <strong>*</strong>
                    }@if(field.options && field.options.length > 0){
                    options[{{field.options}}]
                    }
                 
                  
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button 
              
                class="btn btn-outline-primary btn-sm"
                (click)="ViewUserForms(selectedForm?._id)"
                data-bs-dismiss="modal"
                title="View all forms submitted by users"
              >
                View Responses
              </button>
              <button
                class="btn btn-outline-warning btn-sm"
                (click)="editForm(selectedForm?._id)"
                data-bs-dismiss="modal"
              >
              Edit
            </button>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="deleteForm(selectedForm?._id)"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

    
                
            
    
    

  




